.card_container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-wrap: nowrap;
    overflow-x: auto;

    /* justify-content: space-between; */
    gap: 10px;
    padding: 20px;
}

/* .card_section {
    flex: 1 1 300px;
    max-width: 300px;
} */